
.tabSelector{
    display: flex;
    padding: 1rem;
    > li{
        list-style-type: none;
        flex:1;
        border-radius: 8px;
        
        > a {
            padding: 1rem 0rem;
            text-decoration: none;
            color: var(--black-color);
            margin: 0 auto; 
            text-align: center;
            display: block;
            font-weight: 500;
        }
        margin: 0rem 0.5rem;
    }
    > li.active{
        background-color: var(--primary-color);
        > a {
            color: white;
        }

    }
    > li:not(.active) {
        background-color: var(--hover-color);

    }

    > li:hover:not(.active) {
        background-color: #989ba13c;

    }

    > hr {
        color: #41444983;

    }
}


.user-table{
    th{
        padding: 0.5rem 0rem;
        border-bottom: 2px solid var(--hover-color);
    }

    border-collapse: collapse;
    padding: 1em 0em;
    .user-name > p:nth-child(1){
        color: var(--black-primary);
    
    }
    .user-name > p:nth-child(2){
        color: var(--black-secondary);
        font-size: 0.9rem;
    }

    .user-info{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .user-photo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    td{
        padding: 0.5rem 1rem ;
    }

    .icon{
        font-size: 1.4em;
        cursor: pointer;
    }

    .user-entry{
        border-bottom: 2px solid var(--hover-color);
    }

    .role{
        border-radius: 8px;
        padding: 0.3rem 1rem;
    }

    .client{
        background-color: #06ad00;
    }

    .agent{
        background-color: #ad9c01;

    }

    .admin{
        background-color: #c90101;

    }
}