@import "theme.scss";

.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    border-radius: 8px;
    margin: 0.5em 0em;
}
.dropdown-hover {
    padding: 0.5em 0em;
    
}

.dropdown-hover:hover {
    background-color: $hover-color;
    border-radius: 8px;
    .dropdown-content {
        display: block;
    }
}