main {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #363c4c;
}

.sign {
    position: absolute;
    top: 1em;
    right: 1em;
}


.sign a {
    color: #363c4c;
    padding: 0.3em;
    text-decoration: none;
    border: 1px solid #5449f0;
    border-radius: 8px;
    font-weight: 300;
}


header {
    margin: 2em;
    text-align: center;
}

header h1 {
    font-size: 5em;
    font-weight: 700;
    color: #363c4c;
}

h2 {
    font-weight: 300;
    color: #525a70;
}

section {
    margin: 3em;
}

section h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 1.3em;
}

.slider-container {
    position: relative;
}


.slider li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-in-out;
}

.slider li.active {
    visibility: visible;
    opacity: 1;
}


.card {
    position: relative;
    width: 400px;
    margin: 20px auto;
    padding: 2rem;
    border: #5449f0 5px solid;
    border-radius: 15px;
    background-color: #f5f5f5;
    color: #363c4c;
    -webkit-box-shadow: 4px 2px 27px 3px rgba(84, 73, 240, 0.49);
    -moz-box-shadow: 4px 2px 27px 3px rgba(84, 73, 240, 0.49);
    box-shadow: 4px 2px 27px 3px rgba(84, 73, 240, 0.49);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 200;
}

.arrows {
    position: absolute;
    margin-top: 9em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrows span {
    cursor: pointer;
    font-size: 60px;
    color: #585a5e;
    font-weight: 100;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: aqua;
    color: #f5f5f5;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8em;
    font-weight: 300;
    box-sizing: border-box;
}
