@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0, #f9faff, #f0f1f9);
    font-family: 'Anuphan', 'Open Sans', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

textarea,
input,
button,
select,
a {
    font-family: 'Anuphan', 'Open Sans', sans-serif;
}

main {
    padding: 2rem;
}

<<<<<<< HEAD
.v-h-center {
    display: grid;
    align-items: center;
    justify-content: center;
=======
@media screen and (max-width: 950px) {
    body {
        grid-template-columns: auto;
    }
>>>>>>> main
}