@import "theme.scss";

#buttons {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.5rem 1rem 0;
    gap: 1rem;
    text-align: center;

    li {
        display: flex;
        gap: 0.5rem;

        p {
            padding: 0.6rem;
            border-radius: 8px;
            background-color: white;
        }

        span {
            background-color: white;
            border-radius: 8px;
            padding: 0.6rem;
            cursor: pointer;

            &[data-status="Open"] {
                background-color: #347d39;
                color: white;
            }

            &[data-status="Closed"] {
                background-color: #8256d0;
                color: white;
            }

            &[data-status="Assigned"] {
                background-color: #c17c3f;
                color: white;
            }

        }
    }

    .change-status-options {
        position: relative;

        header {
            text-align: center;
            display: flex;
            align-items: center;
            background: #d2d3db;
            padding: 1rem;
            border-radius: 8px;
            cursor: pointer;
        }

        header:hover~ul {
            display: block;
        }

        ul {
            display: none;
            position: absolute;
            right: 0;
            margin-right: 0;
            z-index: 2;
            padding: 0.5rem 0;
            animation: growDown 300ms ease-in-out;
            transform-origin: top center;

            @keyframes growDown {

                0% {
                    transform: scaleY(0)
                }

                80% {
                    transform: scaleY(1.1)
                }

                100% {
                    transform: scaleY(1)
                }
            }

            &:hover {
                display: block;
                opacity: 1
            }

            li {
                display: flex;
                justify-content: end;

                button {
                    white-space: nowrap;
                }
            }
        }
    }
}

.ticket-page {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: repeat(4, max-content);
}

.action-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

@media (max-width: 1100px) {
    .ticket-page {
        grid-template-columns: 1fr;
    }

    .action-panel {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding: 0;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
}

.side-card {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.2rem 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    h4 {
        color: #353537;
        margin-bottom: 0.2rem;
    }

    p {
        color: rgb(33, 33, 33);
        margin-bottom: 0.2rem;
        font-weight: 400;
        color: #929292;
        cursor: pointer;
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            margin-top: 0.3rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            }
        }

        i {
            cursor: pointer;
            font-size: 1.2rem;
            color: rgb(71, 71, 71);
        }

    }
}


.top-line::before {
    background-color: #e7e7e7;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 2px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    h3 {
        margin-top: 0.7rem;
    }

    button,
    input[type="submit"] {
        margin-left: auto;
        margin-right: 0;
    }

}

.ticket-description {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.2rem 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ebebeb;
}

.ticket-comment {
    position: relative;
    padding-bottom: 16px;
    padding-right: 0.5rem;
}

.ticket-comment::before {
    background-color: #d8d8d8;
    bottom: 0;
    content: "";
    display: block;
    left: 30px;
    position: absolute;
    top: 0;
    width: 2px;
}

.user-comment {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #ebebeb;
    position: relative;
    z-index: 1;

    .user {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        .avatar {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: #ebebeb;
        }

        p::before {
            content: "";
            display: inline-block;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background-color: #c4c4c4;
            margin-right: 0.5rem;
        }
    }

    >p {
        margin: 0.5rem 0;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    >h3 {
        margin-left: 1rem;
        margin-top: 1.2rem;
    }

    .original-question {
        padding: 1rem;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        border: 1px solid #ebebeb;
        margin: 0.5rem 1rem 1.2rem 1rem;
    }

    a {
        color: $primary-color;
        text-decoration: none;
    }

    a:visited {
        color: $primary-color
    }
}

.event {
    position: relative;
    display: flex;
    padding: 1rem;
    align-items: center;
    text-align: center;

    ::before {
        background-color: #d8d8d8;
        bottom: 0;
        content: "";
        display: block;
        left: 30px;
        position: absolute;
        top: 0;
        width: 2px;
    }

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #ebebeb;
        z-index: 1;
        margin-right: 0.5rem;
    }

    div {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }
}