.ticket-card {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.2rem 5px 5px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;

    h4 {
        font-size: small;
    }

    p {
        margin: 0.2rem 0 1rem 0;
    }

    footer {
        grid-column: 1 / -1;
    }

    .tag {
        padding: 0.3rem 0.6rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        margin-right: 0.5rem;
        color: #535353;
    }
}