@import "../../css/theme.scss";

#navbar-checkbox {
    display: none;
}

label[for="navbar-checkbox"] {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

#navbar-open,
#navbar-close {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    color: $black-color;
    cursor: pointer;
    z-index: 1000;
}

nav.sidebar {
    position: fixed;
    padding: 2rem;
    width: calc(280px - 4rem);
    height: calc(100% - 4rem);
    border-right: 2px solid #e6e6ee;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-right: 2px solid #e6e6ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >.inital-sidebar {
        flex: 1;
    }

    div.logo {
        margin-bottom: 3rem;
    }

    ul {
        list-style-type: none;
        width: 100%;

        li {
            width: 100%;

            a {
                display: block;
                padding: 0.8rem;
                margin: 0.5rem 0;
                text-decoration: none;
                color: $black-color;
                font-weight: 500;
                border-radius: 8px;
                transition: all 0.1s ease-out;

                i {
                    font-size: 1.2rem;
                    margin-right: 0.2rem;
                }
            }

            a:hover {
                background-color: $hover-color;
            }
        }

        li[data-active="true"] a {
            background-color: $primary-color;
            color: #fff;
        }

    }

    div.user {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 8px;

        &:hover {
            cursor: pointer;
            background-color: $hover-color;

            h3:before,
            p:before {
                display: none;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img.avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }

            div {
                display: block;
                cursor: pointer;

                h3 {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $black-color;
                    max-width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    position: relative;
                }

                p {
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: $black-secondary;
                    position: relative;

                }

                // Text overflow fade effect
                h3:before,
                p:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: linear-gradient(90deg, transparent 90px, #f9faff);
                }
            }
        }


        .logout {
            cursor: pointer;
            margin-left: 0.5rem;
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
        }
    }

    .login {
        display: block;
        padding: 0.8rem;
        margin: 0.5rem 0;
        text-decoration: none;
        background-color: #cacfda3c;
        color: var(--black-color);
        font-weight: 500;
        border-radius: 8px;
        transition: all 0.1s ease-out;

        border: 1px solid #dcdbdb;
        box-shadow: 0 1px 0.2rem 5px 5px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width: 950px) {

    // Button 
    #navbar-checkbox:checked~label>#navbar-close {
        display: block;
    }

    #navbar-checkbox:not(:checked)~label>#navbar-open {
        display: block;
    }

    // Navbar
    #navbar-checkbox:checked~nav.sidebar {
        display: flex;
        gap: 2rem;
    }

    #navbar-checkbox:checked~main {
        display: none;
    }


    #navbar-checkbox:not(:checked)~nav.sidebar {
        display: none;
    }

    nav.sidebar {
        text-align: center;
        min-height: 100vh;
        overflow-y: scroll;
        width: calc(100% - 4rem);
        border: none;
        align-items: center;
        justify-content: center;

        >.inital-sidebar {
            flex: none;
        }

        ul {
            li {
                width: 200px;
            }
        }

        div.user {
            gap: 0.5rem;
            margin: 0 auto;
            justify-content: center;
            text-align: left;

            .logout {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.2rem;
            }

        }
    }
}